header {
	@media #{$small-only} {
		width: 100%;
	}

	@media #{$medium-up} {
		width: 80px;
		height: 100vh;
		float: left;
	}
}

.nav-bar {
	position: relative;
	z-index: 35;
	background: #000;

	@media #{$small-only} {
		height: 50px;
		
	}
	@media #{$medium-up} {
		height: 100vh;
	}
}

.nav-menu {
	opacity: 0;
	visibility: hidden;
	@include transition(opacity, 0.3s, ease);
  	@include transform(translateX(0));
  	@include transform(translate3d(0, 0, 0));
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow-x: hidden;

	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	@media #{$small-only} {
		background: #eee;
	}

	@media #{$medium-up} {
		background: #ccc;
	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}
}

nav {
	margin: 0;
	padding: 0;
}

.navigation-trigger {
	width: 100%;
	height: 50px;
	border: none;
	padding: 0;
	position: relative;

	@include transition(background-color, 0.3s, ease);

	&:hover {
		background-color: #333;
	}

	&:focus {
		outline: none;
	}
	
	> div {
		margin: 0 auto;
		width: 24px;
		position: relative;
	}
	

	span, span::before, span::after {
		// hamburger icon in CSS
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 24px;
		background: #000;
	}

	span {
		// line in the center
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -2px;
		@include transition(background .3s ease);
	}

	span::before, span::after {
		// other 2 lines
		content: '';
		right: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform-origin(0% 50%);
		@include transition(transform .3s ease);
	}

	span::before {
		// menu icon top line
		top: -6px;
	}

	span::after {
		// menu icon bottom line
		top: 6px;
	}

	&.nav-is-visible {
		span {
			// hide line in the center
			background: rgba(#000, 0);
		}

		span::before, span::after {
			/* keep visible other 2 lines */
			background: rgba(#000, 1);
		}

		span::before {
			@include transform(translateX(4px) translateY(-3px) rotate(45deg));
		}

		span::after {
			@include transform(translateX(4px) translateY(2px) rotate(-45deg));
		}
	}

}

.vertical-name {
	@media #{$small-only} {
		display: none;
	}
	@include transform(rotate(-90deg) translateY(1px));
	@include transform-origin(0 0);

	display: block;
	position: absolute;
	left: 0;
	bottom: -20px;
	z-index: 200;
	width: 300px;

	h6 {
		color: $white;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: rem-calc(12);
		span {
			color: darken($white, 50%);
		}
	}
}