nav ul {
	list-style: none;
	margin: 0;
}

body {
	overflow-x: hidden; 
}

#site-wrapper {
  position: relative;
  width: 100%;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;

  @include transform(translateX(0));
  @include transform(translate3d(0, 0, 0));
  @include transition(all 300ms ease-out);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.name {display: none;}


header {

	.social {
		position: absolute;
		bottom: 20px;
		left: 0;
		color: #fff;
	    width: 100%;

		ul {
	    	margin: 0;
	    	text-align: center;
		
			li {
			    position: relative;
			    perspective: 1000;
			    display: inline-block;
			    width: 2.375rem;
			    height: 2.375rem;
			    margin-right: .125rem;
			    cursor: pointer;
			
				&:last-child {
		    		margin-right: 0;
				}

				.front, .back {
					width: 2.375rem;
				    height: 2.375rem;
				}

				.flip {
					position: relative;
					-webkit-transition: .6s;
					-moz-transition: .6s;
					-ms-transition: .6s;
					-o-transition: .6s;
					transition: .6s;
					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
					-o-transform-style: preserve-3d;
					transform-style: preserve-3d;

					.front, .back {
						position: absolute;
						top: 0;
						left: 0;
						-webkit-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						-ms-backface-visibility: hidden;
						-o-backface-visibility: hidden;
						backface-visibility: hidden;
					}

					.front {
    					z-index: 2;
					}

					.back {
    					@include transform(rotateY(180deg));
					}
				}

			}

			li:hover .flip, li.hover .flip {
				@include transform(rotateY(180deg));
			}

		}
	}

	@media #{$medium-only} {
		.name {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 18px;
			width: 14px;
		}
	}
}


@media #{$small-only} {
	#site-menu {
		width: 265px;
		height: 100vh;
		position: absolute;
		z-index: 15;
		top: 0;
		right: -270px;
		background: $white;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 100vh;
			left: -5px;
			top: 0;
			background: url(../images/nav.png) repeat-y left;
		}
	}



	.nav-is-visible #site-canvas {
		@include transform(translateX(-270px));
		@include transform(translate3d(-270px, 0, 0));
	}

}

@media #{$medium-only} {
	#site-menu {
		width: 265px;
		height: 100vh;
		position: absolute;
		z-index: 15;
		top: 0;
		left: -265px;
		background: $white;
	}

	.nav-is-visible #site-canvas {
		@include transform(translateX(265px));
		@include transform(translate3d(265px, 0, 0));
	}

	header {
		width: 50px;
		height: 100vh;
		float: left;
		background: $white;
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 100vh;
			right: -5px;
			top: 0;
			background: url(../images/nav.png) repeat-y right;
		}
	}

	main {
		padding-left: 50px;
	}
}

@media #{$large-up} {
	#site-menu {
		width: auto;
	
	}

	header {
		@include grid-column(2);
		height: 100vh;
		background: #fff;
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 100vh;
			right: -5px;
			top: 0;
			background: url(../images/nav.png) repeat-y right;
		}
	}


}

.main-navigation {
	@include clearfix();

	@media #{$small-up} {
		nav {
			> ul {
				font-size: rem-calc(16);

				// Level 1
				> li {
					border-bottom: 1px solid $charcoal;
				
					&:first-child a {border-top: none;}
					&.active > a {
						color: darken($charcoal, 10%);
					}
					a {
						border-top: 1px solid $vapor;
						display: block;
						color: $charcoal;
						padding: rem-calc(5) 0;
					}					

					// Level 2
					ul {
						padding-bottom: rem-calc(10);
						margin-left: rem-calc(15);

						a {
							border: none;
						}
						li {
							&.active a {
								color: darken($charcoal, 10%);
							}							
						}
					}
				}
			}
		}
	}

	@media #{$large-up} {
		nav {
			> ul {
				font-size: rem-calc(16);

				// Level 1
				> li {
					border-bottom: 1px solid $charcoal;
				
					&:first-child a {border-top: none;}
					&.active > a {
						color: darken($charcoal, 10%);
					}
					a {
						border-top: 1px solid $vapor;
						display: block;
						color: $charcoal;
						padding: rem-calc(5) 0;
					}					

					// Level 2
					ul {
						padding-bottom: rem-calc(10);
						margin-left: rem-calc(15);

						a {
							border: none;
						}
						li {
							&.active a {
								color: darken($charcoal, 10%);
							}							
						}
					}
				}
			}
		}
	}	

	
}



.nav-trigger {

	@media #{$small-only} {
		position: absolute;
		top: 0;
		right: 0;
	}

	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	color: transparent;
	z-index: 20;

	&:hover, &:active {
		color: transparent;
	}

	@media #{$large-up} {
		display: none;
	}


	span, span::before, span::after {
		// hamburger icon in CSS
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 24px;
		background: #000;
	}

	span {
		// line in the center
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -2px;
		@include transition(background .3s ease);
	}

	span::before, span::after {
		// other 2 lines
		content: '';
		right: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform-origin(0% 50%);
		@include transition(transform .3s ease);
	}

	span::before {
		// menu icon top line
		top: -6px;
	}

	span::after {
		// menu icon bottom line
		top: 6px;
	}

	&.nav-is-visible {
		span {
			// hide line in the center
			background: rgba(#000, 0);
		}

		span::before, span::after {
			/* keep visible other 2 lines */
			background: rgba(#000, 1);
		}

		span::before {
			@include transform(translateX(4px) translateY(-3px) rotate(45deg));
		}

		span::after {
			@include transform(translateX(4px) translateY(2px) rotate(-45deg));
		}
	}
}